<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651146935517-vn422i0vtv3g2crqouq6r6bmtf9a9fcp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651146935517-vn422i0vtv3g2crqouq6r6bmtf9a9fcp</string>
	<key>API_KEY</key>
	<string>AIzaSyBYb3vdocmY8-eEItLOR1nYWFlzXxlznb8</string>
	<key>GCM_SENDER_ID</key>
	<string>651146935517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MinjiLee.photoSnapshot</string>
	<key>PROJECT_ID</key>
	<string>snapshot-d40eb</string>
	<key>STORAGE_BUCKET</key>
	<string>snapshot-d40eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651146935517:ios:55ae71372afd66f0926f34</string>
</dict>
</plist>